@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 2s linear infinite;
}

:host ::ng-deep {
  .p-slider {
    background: #e5e7eb;
  }

  .p-slider .p-slider-range {
    background: #D4AF37;
  }

  .p-slider .p-slider-handle {
    border-color: #D4AF37;
  }

  .p-slider .p-slider-handle:hover {
    background: #D4AF37;
    border-color: #D4AF37;
  }
}
